#sports-page-dark {
	.header {
		font-size: 48px !important;
		line-height: 56px !important;
		font-family: 'MuseoSansRounded500Regular';
		text-shadow: 0 3px 0 #333;
		margin-bottom: 20px;
	}
	.sub-head {
		font-size: 36px !important;
		line-height: 46px !important;
		font-family: 'MuseoSansRounded500Regular';
		text-shadow: 0 2px 0 #333;
		margin-bottom: 20px;
	}
	.head-content {
		font-size: 21px !important;
		line-height: 32px !important;
		font-family: 'MuseoSansRounded300Regular';
		text-shadow: 0 2px 0 #333;
	}
}