@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
	font-family: 'MuseoSansRounded300Regular';
	src: url('#{$font-path}museosansrounded_300_macroman/MuseoSansRounded-300-webfont.eot');
	src: url('#{$font-path}museosansrounded_300_macroman/MuseoSansRounded-300-webfont.eot?#iefix') format('embedded-opentype'),
	url('#{$font-path}museosansrounded_300_macroman/MuseoSansRounded-300-webfont.woff') format('woff'),
	url('#{$font-path}museosansrounded_300_macroman/MuseoSansRounded-300-webfont.ttf') format('truetype'),
	url('#{$font-path}museosansrounded_300_macroman/MuseoSansRounded-300-webfont.svg#MuseoSansRounded300Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSansRounded700Regular';
	src: url('#{$font-path}museosansrounded_700_macroman/MuseoSansRounded-700-webfont.eot');
	src: url('#{$font-path}museosansrounded_700_macroman/MuseoSansRounded-700-webfont.eot?#iefix') format('embedded-opentype'),
	url('#{$font-path}museosansrounded_700_macroman/MuseoSansRounded-700-webfont.woff') format('woff'),
	url('#{$font-path}museosansrounded_700_macroman/MuseoSansRounded-700-webfont.ttf') format('truetype'),
	url('#{$font-path}museosansrounded_700_macroman/MuseoSansRounded-700-webfont.svg#MuseoSansRounded700Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@import 'ss-pika';

@import 'pictonic';
