<section id="Sign-Up" class="bg-primary-dark cta">
	<div class="container">
		<div class="row">
			<div class="col-md-8 mt15">
				<h2 class="thinner mt5">{{ page.cta.headline }}</h2>
				<h3 class="h1 smaller thin">{{ page.cta.subhead }}</h3>
			</div>
			<div class="col-md-4 mt5">
				<a href="https://go.teamsnap.com/signup/select_role?email=" class="center-block btn btn-cta-primary btn-lg pull-right">
					<!-- <a href="https://go.teamsnap.com/signup/trial" class="btn btn-display btn-lg pull-right" data-toggle="modal" data-target="#Ultra-Plan-Contact">-->
					<span class="btn btn-cta-primary-inner-btn">
						<span class="btn-cta-primary-text-h1">Get More Info!</span>
						<span class="text-center btn-cta-primary-text-h2">No Commitment Required</span>
					</span>
				</a>
			</div>
		</div>
	</div>
</section>
