<footer id="Footer" class="bg-primary ">
	<div class="container">
		<div class="row">
			<div class="col-custom md">
				<h2 class="logo">TeamSnap</h2>
				<address>
					2040 14th Street
					<br />
					Boulder, CO 80302 USA
				</address>
				<h6>
					<a href="/contact">Contact TeamSnap</a>
				</h6>
				<ul class="social list-inline">
					<li>
                        <a href="https://www.facebook.com/TeamSnap" class="facebook" target="_blank">
                            <span class="icon-facebook"></span>
                        </a>
                    </li>
					<li>
                        <a href="https://twitter.com/teamsnap" class="twitter" target="_blank">
                            <span class="icon-twitter-3"></span>
                        </a>
                    </li>
					<li>
                        <a href="http://www.pinterest.com/teamsnaphq/" class="pinterest" target="_blank">
                            <span class="icon-pinterest"></span>
                        </a>
                        </li>
					<li>
                        <a href="https://plus.google.com/u/0/+Teamsnapapp" class="gplus" target="_blank">
                            <span class="icon-google__x2B_"></span>
                        </a>
                    </li>
					<li>
                        <a href="https://www.youtube.com/user/TeamsnapHQ" class="youtube" target="_blank">
                            <span class="icon-youtube"></span>
                        </a>
                    </li>
				</ul>
			</div>
			<div class="col-custom sm">
				<h5>Teams</h5>
				<ul>
					<li>
						<a href="/teams">Teams</a>
					</li>
					<li>
						<a href="/teams/why-teamsnap">Why TeamSnap?</a>
					</li>
					<li>
						<a href="/teams/plans-and-pricing">Pricing For Teams</a>
					</li>
					<li>
						<a href="/teams/features">Features For Teams</a>
					</li>
					<li>
						<a href="/mobile">Mobile App</a>
					</li>
				</ul>
			</div>
			<div class="col-custom sm">
				<h5>Clubs &amp; Leagues</h5>
				<ul>
					<li>
						<a href="/leagues-and-clubs">Clubs &amp; Leagues</a>
					</li>
					<li>
						<a href="/leagues-and-clubs/why-teamsnap">Why TeamSnap?</a>
					</li>
					<li>
						<a href="/leagues-and-clubs/plans-and-pricing">Pricing For Clubs &amp; Leagues</a>
					</li>
					<li>
						<a href="/leagues-and-clubs/features">Features For Clubs &amp; Leagues</a>
					</li>
					<li>
						<a href="/mobile">Mobile App</a>
					</li>
				</ul>
			</div>
			<div class="col-custom sm">
				<h5>Community</h5>
				<ul>
					<li>
						<a href="https://blog.teamsnap.com/">The Blog</a>
					</li>
					<li>
						<a href="/community/podcast">Podcasts</a>
					</li>
					<li>
						<a href="/community/sports-photography">Sports Photography</a>
					</li>
					<li>
						<a href="/community/sports-science">Sports Science</a>
					</li>
					<li>
						<a href="/community/skills-drills">Skills &amp; Drills</a>
					</li>
					<li>
						<a href="/community/time-management">Time Management</a>
					</li>
					<li>
						<a href="/resources">Resources</a>
					</li>
					<li>
						<a href="/testimonials">Testimonials</a>
					</li>
					<li>
						<a href="http://www.teamsnapshop.com/">Official TeamSnap Store</a>
					</li>
				</ul>
			</div>
			<div class="col-custom sm">
				<h5>About</h5>
				<ul>
					<li>
						<a href="/about/company-info">Company Info</a>
					</li>
					<li>
						<a href="/about/company-news">Company News</a>
					</li>
					<li>
						<a href="/about/careers">Careers</a>
					</li>
					<li>
						<a href="/about/board-of-directors">Board of Directors</a>
					</li>
					<li>
						<a href="/about/team-players">Team Players</a>
					</li>
					<li>
						<a href="/about/affiliate-program">Affiliate Program</a>
					</li>
					<li>
						<a href="/about/partners">Partners</a>
					</li>
					<li>
						<a href="/about/labrat">Lab Rats Program</a>
					</li>
					<li>
						<a href="http://developer.teamsnap.com/">TeamSnap API</a>
					</li>
				</ul>
			</div>
			<div class="col-custom sm">
				<h5>Support</h5>
				<ul>
					<li>
						<a href="https://helpme.teamsnap.com/hc/en-us">Help Center</a>
					</li>
					<li>
						<a href="https://helpme.teamsnap.com/hc/en-us/sections/206159408-General">FAQs</a>
					</li>
					<li>
						<a href="/responsible_disclosure_policy">Responsible Disclosure Policy</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
	<div class="copy-right bg-primary-dark">
		<p class="container small">
			TeamSnap® is lovingly made by our team for yours. Copyright © 2005-2016 TeamSnap, Inc. Peruse the <a href="/terms">Terms</a> &amp; <a href="/privacy-policy">Privacy</a>.
		</p>
	</div>
</footer>
