@include responsive(screen-sm) {

	#Pricing {
		.table-body {
			padding-left: 50px;
			padding-right: 50px;
			.feature {
				display: block;
				font-size: 13px;
			}
			&:after {
				content: '';
				display: block;
				clear: both;
			}
			& > ul {
				width: 48%;
				float: left;
				&:nth-child(2n+1) {
					margin-right: 4%;
				}
			}
			.xs-hidden {
				display: block;
			}
			.sm-visible {
				display: block;
			}
		}
		&.basic {
			.table-body {
				margin-right: 0;
				& > ul {
					width: 48%;
					float: left;
					&:nth-child(2n+1) {
						margin-right: 4%;
					}
					li:last-child {
						.btn-success {
							width: 70%;
						}
					}
				}
				ul.premium-plan .row-heading {
					height: 160px;
					padding-top: 0;
					h3 {
						height: 160px;
						line-height: 50px;
						.price-box {
							span:first-child {
								padding-top: 15px;
							}
							span:last-child {
								padding-bottom: 15px;
								color: #264e03;
							}
						}
					}
				}
				.price-box {
					span:first-child {
						padding-top: 15px;
						&.monthly:after {
							content: 'monthly per team';
							padding-left: 5px;
							font: {
								family: $museo-300;
								size: 75%;
								style: italic;
							}
						}
					}
					span:last-child {
						padding-bottom: 15px;
						font: {
							family: $museo-500;
							style: italic;
							size: 50%;
						}
						color: #021323;
						&.yearly:after {
							content: 'yearly per team';
							padding-left: 5px;
						}
					}
				}
			}
			#pricing-features {
				.table-body > ul {
					width: 33%;
					border-top: none;
				}
			}
		}
	}

}